apiVersion: apps/v1
kind: Deployment
metadata:
  name: trainmate
spec:
  replicas: 3
  selector:
    matchLabels:
      app: trainmate
  template:
    metadata:
      labels:
        app: trainmate
    spec:
      containers:
      - name: frontend
        image: mingyu207/trainmate:frontend
        resources:
          requests:
            memory: "64Mi"
            cpu: "250m"
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 80
      - name: rest-api
        image: mingyu207/trainmate:rest_api
        resources:
          requests:
            memory: "64Mi"
            cpu: "250m"
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 8080
      - name: rest-api-test
        image: mingyu207/trainmate:rest_api-test
        resources:
          requests:
            memory: "64Mi"
            cpu: "250m"
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 9090
      - name: cypress
        image: mingyu207/trainmate:cypress
        resources:
          requests:
            memory: "64Mi"
            cpu: "250m"
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 7070