apiVersion: v1
kind: Service
metadata:
  name: trainmate
spec:
  type: ClusterIP
  selector:
    app: trainmate
  ports:
    - name: frontend-port
      protocol: TCP
      port: 80
      targetPort: 80
    - name: rest-api-port
      protocol: TCP
      port: 8080
      targetPort: 8080
    - name: rest-api-test-port
      protocol: TCP
      port: 9090
      targetPort: 9090
    - name: cypress-port
      protocol: TCP
      port: 7070
      targetPort: 7070