name: CI Workflow

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master

env:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""
  DB_PORT: 5432
  DB_SERVER: db
  DB_NAME: trainmate_db
  DB_USER: trainmate_user
  DB_PASS: pass
  REST_HOST_ADDRESS: rest
  REST_PORT: 5002
  FRONTEND_HOST_ADDRESS: frontend
  FRONTEND_PORT: 3000
  WEBDAV_HOST: http://webdav
  WEBDAV_PORT: 8081
  WEBDAV_TOKEN: Bearer testtoken
  COUCHDB_USER: trainmate
  COUCHDB_SERVER: couch_db
  COUCHDB_NAME: trainmate_db
  COUCHDB_PORT: 5984
  COUCHDB_PASSWORD: pass

jobs:
  lint-python:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.12.3

      - name: Install dependencies
        run: |
          pip install pylint
          pip install -r ./rest_api/requirements.txt

      - name: Run pylint on rest_api
        run: pylint ./rest_api/

      - name: Run pylint on rest_api_tests
        run: pylint ./rest_api_tests

  lint-typescript:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 20

      - name: Install dependencies
        run: |
          cd frontend
          npm install

      - name: Run lint
        run: |
          cd frontend
          npm run lint

  analyze-code:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          cd frontend
          npm install
          cd ..
          pip install -r ./rest_api/requirements.txt

      - name: Analyze code with Understand
        run: |
          und -verbose analyze -db .ci/understand-settings.und || true
          und -verbose metrics .ci/understand-settings.und || true
          und export -format longnoroot -dependencies file csv .ci/dependencies.csv .ci/understand-settings.und

      - name: Upload Understand artifacts
        uses: actions/upload-artifact@v2
        with:
          name: understand-artifacts
          path: |
            .ci/understand-settings.csv
            .ci/dependencies.csv

  analyze-duplication:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Java
        uses: actions/setup-java@v2
        with:
          java-version: 17
          distribution: 'adopt'

      - name: Run Simian for code duplication analysis
        run: |
          java -jar .ci/simian-4.0.0.jar -balanceParentheses -failOnDuplication -ignoreCharacterCase -ignoreCurlyBraces -ignoreIdentifierCase -ignoreModifiers -ignoreStringCase -threshold=6 -formatter="yaml" "./rest_api/*.py" "./frontend/src/*.ts" "./frontend/src/*.tsx"

  validate-analysis:
    runs-on: ubuntu-latest
    needs: analyze-code
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Rust
        uses: actions/setup-rust@v1

      - name: Validate analysis
        run: |
          cd .ci/understand-validator
          cargo run --release

  build-frontend:
    runs-on: ubuntu-latest
    services:
      docker:
        image: docker:20.10.7
        options: --privileged
    env:
      IMAGE_TAG: mingyu207/trainmate:frontend
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Write env file
        run: |
          printenv | grep -E 'DB_PORT|DB_SERVER|DB_NAME|DB_USER|DB_PASS|REST_HOST_ADDRESS|REST_PORT|FRONTEND_PORT|FRONTEND_HOST_ADDRESS|WEBDAV_HOST|WEBDAV_PORT|WEBDAV_TOKEN|COUCHDB_USER|COUCHDB_SERVER|COUCHDB_NAME|COUCHDB_PORT|COUCHDB_PASSWORD' > environment/.env.ci

      - name: Log in to Docker Hub
        run: echo "${{ secrets.CI_REGISTRY_PASSWORD }}" | docker login ${{ secrets.CI_REGISTRY }} -u ${{ secrets.CI_REGISTRY_USER }} --password-stdin

      - name: Build and push Docker image
        run: |
          cd frontend
          docker pull $IMAGE_TAG || true
          docker buildx build --load -f Dockerfile.prod -t $IMAGE_TAG --build-arg REST_HOST_ADDRESS=$REST_HOST_ADDRESS --build-arg REST_PORT=$REST_PORT --build-arg NEXT_PUBLIC_FRONT_PORT=$FRONTEND_PORT --build-arg BUILDKIT_INLINE_CACHE=1 .
          docker push $IMAGE_TAG

  build-rest-api:
    runs-on: ubuntu-latest
    services:
      docker:
        image: docker:20.10.7
        options: --privileged
    env:
      IMAGE_TAG: mingyu207/trainmate:rest_api
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Log in to Docker Hub using a personal access token
        run: echo "${{ secrets.CI_REGISTRY_PASSWORD }}" | docker login ${{ secrets.CI_REGISTRY }} -u ${{ secrets.CI_REGISTRY_USER }} --password-stdin

      - name: Build Docker image
        run: docker buildx build --load -f Dockerfile.prod -t $IMAGE_TAG --build-arg BUILDKIT_INLINE_CACHE=1 .
        working-directory: rest_api

      - name: List Docker images
        run: docker images

      - name: Push Docker image
        run: docker push $IMAGE_TAG

  build-rest-api-test:
    runs-on: ubuntu-latest
    services:
      docker:
        image: docker:20.10.7
        options: --privileged
    env:
      IMAGE_TAG: mingyu207/trainmate:rest_api-test
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Log in to Docker Hub
        run: echo "${{ secrets.CI_REGISTRY_PASSWORD }}" | docker login ${{ secrets.CI_REGISTRY }} -u ${{ secrets.CI_REGISTRY_USER }} --password-stdin

      - name: Build and push Docker image
        run: |
          docker pull $IMAGE_TAG || true
          docker buildx build --load -f rest_api_tests/Dockerfile -t $IMAGE_TAG --build-arg BUILDKIT_INLINE_CACHE=1 --cache-from $IMAGE_TAG .
          docker push $IMAGE_TAG

  build-cypress:
    runs-on: ubuntu-latest
    services:
      docker:
        image: docker:20.10.7
        options: --privileged
    env:
      IMAGE_TAG: mingyu207/trainmate:cypress
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Log in to Docker Hub
        run: echo "${{ secrets.CI_REGISTRY_PASSWORD }}" | docker login ${{ secrets.CI_REGISTRY }} -u ${{ secrets.CI_REGISTRY_USER }} --password-stdin

      - name: Build and push Docker image
        run: |
          cd cypress
          docker pull $IMAGE_TAG || true
          docker buildx build --load -t $IMAGE_TAG --cache-from $IMAGE_TAG .
          docker push $IMAGE_TAG

  test-python:
    runs-on: ubuntu-latest
    services:
      docker:
        image: docker:20.10.7
        options: --privileged
    env:
      IMAGE_TAG: mingyu207/trainmate:latest
    needs: build-rest-api-test
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Write env file
        run: |
          printenv | grep -E 'DB_PORT|DB_SERVER|DB_NAME|DB_USER|DB_PASS|REST_HOST_ADDRESS|REST_PORT|FRONTEND_PORT|FRONTEND_HOST_ADDRESS|WEBDAV_HOST|WEBDAV_PORT|WEBDAV_TOKEN|COUCHDB_USER|COUCHDB_SERVER|COUCHDB_NAME|COUCHDB_PORT|COUCHDB_PASSWORD' > environment/.env.ci

      - name: Log in to Docker Hub
        run: echo "${{ secrets.CI_REGISTRY_PASSWORD }}" | docker login ${{ secrets.CI_REGISTRY }}





