name: Understand Workflow

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""
  DB_PORT: 5432
  DB_SERVER: db
  DB_NAME: trainmate_db
  DB_USER: trainmate_user
  DB_PASS: pass
  REST_HOST_ADDRESS: rest
  REST_PORT: 5002
  FRONTEND_HOST_ADDRESS: frontend
  FRONTEND_PORT: 3000
  WEBDAV_HOST: http://webdav
  WEBDAV_PORT: 8081
  WEBDAV_TOKEN: Bearer testtoken
  COUCHDB_USER: trainmate
  COUCHDB_SERVER: couch_db
  COUCHDB_NAME: trainmate_db
  COUCHDB_PORT: 5984
  COUCHDB_PASSWORD: pass

jobs:
  lint-python:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.12.3

      - name: Install dependencies
        run: |
          pip install pylint
          pip install -r ./rest_api/requirements.txt

      - name: Run pylint on rest_api
        run: pylint ./rest_api/

      - name: Run pylint on rest_api_tests
        run: pylint ./rest_api_tests

  lint-typescript:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 20

      - name: Install dependencies
        run: |
          cd frontend
          npm install

      - name: Run lint
        run: |
          cd frontend
          npm run lint

  analyze-code:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          cd frontend
          npm install
          cd ..
          pip install -r ./rest_api/requirements.txt
          sudo apt-get update
          sudo apt-get install -y curl ca-certificates libxcb-xinerama0 libxkbcommon-x11-0 libxcb-shape0 libxcb-cursor0 libxcb-util1 libxcb-icccm4 libxcb-image0 libxcb1 libxcb-keysyms1 libxcb-render-util0

      - name: Install understand
        run: |
          curl -o Understand.tgz -L https://s3.amazonaws.com/builds.scitools.com/all_builds/b1197/Understand/Understand-6.5.1197-Linux-64bit.tgz
          tar -xvzf Understand.tgz

      - name: Analyze code with Understand
        run: |
          und -verbose analyze -db .ci/understand-settings.und || true
          und -verbose metrics .ci/understand-settings.und || true
          und export -format longnoroot -dependencies file csv .ci/dependencies.csv .ci/understand-settings.und

      - name: Upload Understand artifacts
        uses: actions/upload-artifact@v2
        with:
          name: understand-artifacts
          path: |
            .ci/understand-settings.csv
            .ci/dependencies.csv

  analyze-duplication:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Java
        uses: actions/setup-java@v2
        with:
          java-version: 17
          distribution: 'adopt'

      - name: Run Simian for code duplication analysis
        run: |
          java -jar .ci/simian-4.0.0.jar -balanceParentheses -failOnDuplication -ignoreCharacterCase -ignoreCurlyBraces -ignoreIdentifierCase -ignoreModifiers -ignoreStringCase -threshold=6 -formatter="yaml" "./rest_api/*.py" "./frontend/src/*.ts" "./frontend/src/*.tsx"

  validate-analysis:
    runs-on: ubuntu-latest
    needs: analyze-code
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Validate analysis
        run: |
          cd .ci/understand-validator
          cargo run --release